{% extends 'base.html.twig' %}

{% block title %}Edit Driver{% endblock %}

{% block body %}
    <h1>Editer conducteur {{ driver.firstname }} {{ driver.lastname }}</h1>

    {{ include('driver/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary btn-sm" href="{{ path('driver_index') }}">Retour à la liste</a>

    {{ include('driver/_delete_form.html.twig') }}
{% endblock %}
